In [15]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('/Datasets/BigmacPrice.csv')
df

NameError: name 'pd' is not defined

In [19]:
pd.crosstab(df.dollar_price, df.name)

name,Argentina,Australia,Austria,Azerbaijan,Bahrain,Belgium,Brazil,Britain,Canada,Chile,...,Taiwan,Thailand,Turkey,UAE,Ukraine,United Arab Emirates,United States,Uruguay,Venezuela,Vietnam
dollar_price,,,,,,,,,,,,,,,,,,,,,
0.00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
0.67,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
0.80,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0.83,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0.97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9.00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9.50,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9.75,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10.25,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11.25,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0