## Correlação dos Dados
Se, próximo de 1 ou -1 -> Tem correlação
Se, próximo de 0 -> Não tem correlação

In [13]:
#Correlação de Pearson
from scipy.stats import pearsonr
import numpy as np

In [ ]:
## Exemplo com listas

In [12]:
a = np.array ([1, 2, 3, 4, 5])

b = a * 3 + 2
b

array([ 5,  8, 11, 14, 17])

In [19]:
print(pearsonr(a,b))

PearsonRResult(statistic=np.float64(1.0), pvalue=np.float64(0.0))

## Testando a Correlação de Dados com os Dados do BigMac

In [21]:
import pandas

In [25]:
#Lendo os dados do csv
df = pandas.read_csv('BigmacPriceJuly2022.csv')

In [23]:
#Vendo os dados do topo
df.head()

         date currency_code        name  local_price  dollar_ex  dollar_price
0  2022-07-01           ARS   Argentina       590.00        129          4.57
1  2022-07-01           AUD   Australia         6.70          1          6.70
2  2022-07-01           EUR     Austria         4.35          1          4.35
3  2022-07-01           AZN  Azerbaijan         4.70          1          4.70
4  2022-07-01           BHD     Bahrain         1.60          1          1.60

In [29]:
# Correlação de Pearson
# Calculando a relação de todas as colunas numéricas com outras colunas numéricas
df[['local_price', 'dollar_ex', 'dollar_price']].corr()

              local_price  dollar_ex  dollar_price
local_price      1.000000   0.954986     -0.002980
dollar_ex        0.954986   1.000000     -0.063468
dollar_price    -0.002980  -0.063468      1.000000

In [30]:
# Correlação de Spearmanr
from scipy.stats import spearmanr

df[['local_price', 'dollar_ex', 'dollar_price']].corr(method = 'spearman')

              local_price  dollar_ex  dollar_price
local_price      1.000000   0.958868     -0.073513
dollar_ex        0.958868   1.000000     -0.313316
dollar_price    -0.073513  -0.313316      1.000000