Exemplo com dados do preço do BigMac desde 2000 a 2022 em diversos países

In [4]:
#importando a biblioteca pandas
import pandas

In [13]:
#carregando o dataset
df = pandas.read_csv('BigmacPrice.csv')

In [14]:
df.head()

         date currency_code       name  local_price  dollar_ex  dollar_price
0  2000-04-01           ARS  Argentina         2.50          1          2.50
1  2000-04-01           AUD  Australia         2.59          1          2.59
2  2000-04-01           BRL     Brazil         2.95          1          2.95
3  2000-04-01           GBP    Britain         1.90          1          1.90
4  2000-04-01           CAD     Canada         2.85          1          2.85

In [15]:
#Verificando o tipo dos dados
df.dtypes

date              object
currency_code     object
name              object
local_price      float64
dollar_ex          int64
dollar_price     float64
dtype: object

## Filtrando os dados de acordo com nosso interesse

In [16]:
#filtrando apenas na data 01/07/2022
df_filtered = df[df['date'] == '2022-07-01']

In [22]:
#pega os itens do topo da lista
df_filtered.head()

,date,currency_code,name,local_price,dollar_ex,dollar_price
1876,2022-07-01,ARS,Argentina,590.00,129,4.57
1877,2022-07-01,AUD,Australia,6.70,1,6.70
1878,2022-07-01,EUR,Austria,4.35,1,4.35
1879,2022-07-01,AZN,Azerbaijan,4.70,1,4.70
1880,2022-07-01,BHD,Bahrain,1.60,1,1.60

In [18]:
#conta quantos itens tem de cada coluna
df_filtered.count()

date             70
currency_code    70
name             70
local_price      70
dollar_ex        70
dollar_price     70
dtype: int64

In [23]:
#exportando o DataFrame para csv
df_filtered.to_csv('BigmacPriceJuly2022.csv', index = False)

## Moda

In [24]:
#Carrega o csv no dataframe
df = pandas.read_csv('BigmacPriceJuly2022.csv')

In [25]:
#função para calcular a moda
df['dollar_price'].mode()

0    4.00
1    4.58
Name: dollar_price, dtype: float64

In [26]:
#Contando as repetições de cada valor
df['dollar_price'].value_counts()

dollar_price
4.58    3
4.00    3
4.70    2
3.00    2
3.71    2
       ..
6.00    1
5.15    1
6.22    1
2.00    1
2.95    1
Name: count, Length: 61, dtype: int64

## Média

In [27]:
#Função para calcular a média
df['dollar_price'].mean()

np.float64(4.003571428571429)

## Mediana

In [29]:
df['dollar_price'].median()

np.float64(3.9050000000000002)