## Primeiro Exemplo, amostragem simples

In [5]:
from random import sample

In [6]:
populacao = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Pegando amostras simples

In [7]:
sample(populacao, 4)

[2, 5, 7, 11]

Importando a biblioteca pandas

In [13]:
import pandas

In [14]:
df = pandas.DataFrame(populacao, columns = ["values"])
df

    values
0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12

In [15]:
df.sample(n = 4)

    values
11      12
2        3
7        8
5        6

In [16]:
df.sample(n = 4)

    values
9       10
11      12
3        4
8        9

In [17]:
df.sample(n = 4)

    values
8        9
5        6
3        4
10      11

Usando proporção ao invez de um número definido

In [18]:
df.sample(frac = 0.33)

    values
5        6
1        2
2        3
11      12

## Amostragem Sistemática

In [27]:
import numpy as np

Usando python puro fica assim:

In [28]:
tamanho_populacao = len(populacao)

In [29]:
for i in range(1, tamanho_populacao,3): ##iterando de 3 então, "sistematicamente"
    print(i)

1
4
7
10

In [31]:
amostra_sistematica = []

for i in range(1, tamanho_populacao, 3):
    print(populacao[i])
    amostra_sistematica.append(populacao[i])

2
5
8
11

In [32]:
print(amostra_sistematica)

[2, 5, 8, 11]

Fazendo a mesma coisa, porém, com o Pandas

In [37]:
np.arange(1,12,step=3)

array([ 1,  4,  7, 10])

In [38]:
## df.shape retorna o tamanho do dataFrame

def amostragem_sistematica(df, inicio = 0, step = 3):
    indexes = np.arange(inicio, df.shape[0], step=step)
    amostra = df.iloc[indexes]  ##pega somente os indices que eu quero
    return amostra

In [39]:
amostragem_sistematica(df, 1, 3)

    values
1        2
4        5
7        8
10      11

In [ ]:
## Amostra Estratificada